## logs
LOG_LEVEL = INFO
LOG_FILE = "logs/app.log"

## LLMs
GROQ_LLM_MODEL="qwen/qwen3-32b"
GROQ_API_KEY = ""  
LLM_PROVIDER = "groq"

##Emebdding model
EMBEDDING_PROVIDER = cohere
EMBEDDING_MODEL_NAME = "embed-multilingual-v3.0"
COHERE_API_KEY = ""

##rerank model
RERANK_MODEL= ""
RERANK_PROVIDER = "cohere" #cohere, none(skip reranking)
TOP_N = 20

##Vectordb
QDRANT_URL      = ""
QDRANT_API_KEY = ""
QDRANT_COLLECTION_NAME = islam_qa_v2
QDRANT_VECTOR_SIZE = 1024
VECTOR_STORE_PROVIDER = qdrant
TOP_K = 5

#APP
API_KEY = "" #Put your own API key here